@using SFA.DAS.ApprenticePortal.SharedUi.Menu
@model NetworkHubViewModel
@{
    ViewData["Title"] = "Your network hub";
}


@if(!ViewData.UseGovSignIn())
{
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                How you sign in is changing
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body">From 1st October, you’ll sign in to My apprenticeship using GOV.UK One Login.</p>
            <p class="govuk-body">You’ll need to create a GOV.UK One Login with the same email address that you use for My apprenticeship.</p>
            <p class="govuk-body">All your account information will automatically be transferred to your GOV.UK One Login.</p>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your network hub</h1>
        <p>
            Welcome to your Apprenticeship Ambassador Network hub. Thank you for supporting the network in your role as
            an ambassador, where we can help you:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>develop your skills and experience</li>
            <li>build your professional network</li>
            <li>champion apprenticeships in your region and across England</li>
        </ul>
        <ul class="govuk-list app-icon-list">
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.EventsHubUrl"
                        class="govuk-link govuk-link--no-visited-state">Events hub</a></h2>
                <p>Manage your upcoming events and give feedback about events you have attended.</p>
                <svg class="app-icon-list__icon">
                    <use href="/img/sprite.svg#icon-calendar" />
                </svg>
            </li>
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.NetworkDirectoryUrl"
                        class="govuk-link govuk-link--no-visited-state">Network directory</a></h2>
                <p>Connect and network with other ambassadors across England.</p>
                <svg class="app-icon-list__icon">
                    <use href="/img/sprite.svg#icon-handshake" />
                </svg>
            </li>
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.ProfileSettingsUrl"
                        class="govuk-link govuk-link--no-visited-state">Profile settings</a></h2>
                <p>Update your profile and contact preferences including what information network members can see about
                    you.</p>
                <svg class="app-icon-list__icon">
                    <use href="/img/sprite.svg#icon-settings" />
                </svg>
            </li>
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.ContactUsUrl"
                        class="govuk-link govuk-link--no-visited-state">Contact us</a></h2>
                <p>If you have a query or question, get in touch with the network team</p>
                <svg class="app-icon-list__icon">
                    <use href="/img/sprite.svg#message-lines" />
                </svg>
            </li>
        </ul>
    </div>
</div>
