.autocomplete__dropdown-arrow-down-wrapper {
    position: absolute;
    top: 7px;
    right: 7px;
}

@media (min-width: 40.0625em) {
    .autocomplete__dropdown-arrow-down-wrapper {
        top: 9px;
        right: 9px;
    }
}

.das-search-form__group .autocomplete__input {
    height: 40px;
}

@media (min-width: 40.0625em) {
    .das-search-form__group .autocomplete__wrapper {
        width: 100%;
    }
}

@media (min-width: 40.0625em) {
    .app-flex-row {
        display: flex;
        margin-bottom: 20px;
    }
}

.app-feature-box {
    padding: 20px;
    height: 100%;
    display: block;
    border: 1px solid #b1b4b6;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.app-feature-box__heading {
    margin-bottom: 15px;
}

.app-feature-box__content {
    margin-bottom: 0;
    font-size: 100%;
}

.govuk-error-message:empty {
    display: none;
}

.js-enabled .das-show-hide__button {
    display: inline-block;
}



.app-calendar {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 20px 0;
}

.app-calendar__header,
.app-calendar__day {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

.app-calendar__header {
    background: #2C7298;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}


.app-calendar__day {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 130px;
}

.app-calendar__day--last-month,
.app-calendar__day--next-month {
    background: #eee;
}

.app-calendar__date {
    display: block;
    text-align: right;
    padding: 5px;
}

.app-calendar__month {
    display: none;
}

.app-calendar__event {
    border-left: 8px solid #ccc;
    background: #F3F2F1;
    font-weight: 700;
    font-size: 13px;
    padding: 7px;
    display: block;
    margin-top: 3px;
}

.app-calendar__event--hybrid { border-color: #85994B;}
.app-calendar__event--inperson { border-color: #6F72AF;}
.app-calendar__event--online { border-color: #912B88;}