@using SFA.DAS.Aan.SharedUi.Models;
@model ErrorViewModel;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">
            Refresh your browser, or return to the <a class="govuk-link" href="@Model.HomePageUrl">apprentice ambassador network home</a>
        </p>
        <p class="govuk-body">If the problem persists, try again later.</p>
    </div>
</div>