@using SFA.DAS.Aan.SharedUi.Models.PublicProfile;

@model AreasOfInterestSectionViewModel

@if (Model.HasItems)
{
    <h1 class="govuk-heading-l govuk-!-margin-top-7">@Model.Title</h1>
    <p>@Model.SubText</p>

    foreach (var interestSection in Model.Sections)
    {
      <div>
          @if (interestSection.HasItems)
          {
              <div>
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">@interestSection.Title</h3>
                  <ul>
                        @foreach (var interest in interestSection.Interests)
                      {
                          <li>
                              <p>@interest</p>
                          </li>
                      }
                  </ul>
              </div>
          }
      </div>
    }
}
