@using SFA.DAS.Aan.SharedUi.Models.PublicProfile;

@model ApprenticeshipSectionViewModel

@if (Model.IsEmployerInformationAvailable)
{
    <h1 class="govuk-heading-l govuk-!-margin-top-7">@Model.ApprenticeshipSectionTitle</h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        @if (!string.IsNullOrEmpty(Model.EmployerName))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Employer's name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.EmployerName
                </dd>
            </div>
        }

    </dl>

    <dl class="govuk-summary-list">
        @if (Model.Sectors.Count > 0)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Apprenticeship sectors
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        @{
                            foreach (var sector in Model.Sectors)
                            {
                                <li>@sector</li>
                            }
                        }
                    </ul>
                </dd>
            </div>
        }

        @if (Model.ActiveApprenticesCount > 0)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of active apprentices
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ActiveApprenticesCount
                </dd>
            </div>
        }
    </dl>
}
