@using SFA.DAS.Aan.SharedUi.Models;
@model ProfileSettingsViewModel
@{
    ViewData["Title"] = "Profile Settings";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Profile Settings</h1>
        <p>
            Manage your ambassador profile and relevant information about you. Tell members what areas of the network you are interested in and how to get in touch with you.
        </p>
        <ul class="govuk-list app-icon-list">
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.YourAmbassadorProfileUrl" class="govuk-link govuk-link--no-visited-state">Your ambassador profile</a></h2>
                <p>Review and update your profile information to get the best experience and most suitable opportunities from the network.</p>
                <svg class="app-icon-list__icon"><use href="/img/sprite.svg#icon-settings" /></svg>
            </li>
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.LeaveTheNetworkUrl" class="govuk-link govuk-link--no-visited-state">Leave the network</a></h2>
                <p>We would be sad to see you go. We ask that you complete a short optional feedback form to tell us why you are leaving.</p>
                <svg class="app-icon-list__icon"><use href="/img/sprite.svg#icon-settings" /></svg>
            </li>
        </ul>
    </div>
</div>
