@{
    ViewData["Title"] = "You do not have access to this area of the website";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You do not have access to this area of the website</h1>
        <p>
            You are seeing this message because either your user record does not exist in our database or your data does not match the data we hold.
        </p>
        <p>
            To resolve this issue, please contact support on 08000 150 400 or email <a href="mailto:nationalhelpdesk@apprenticeships.gov.uk">nationalhelpdesk@apprenticeships.gov.uk</a>. Please provider your first name, last name, date of birth and email address.
        </p>
    </div>
</div>
