@model SFA.DAS.ApprenticeAan.Web.Models.NetworkDirectory.DirectoryFilterChoices
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Search directory
        </legend>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-margin-bottom-2" for="keyword">
                Enter name
            </label>
            <input class="govuk-input" id="keyword" name="keyword" type="Search" value="@Model.Keyword" maxlength="50">
        </div>
    </fieldset>
</div>