<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You have joined the Apprenticeship Ambassador Network
            </h1>
        </div>
        
        <p class="govuk-body">Thank you for joining the network. Members help us inspire the next generation of apprentices.</p>

        <h2 class="govuk-heading-m">What to do next</h2>

        <p class="govuk-body"><b>Wait to hear from your regional network</b></p>

        <p class="govuk-body">
            Your regional network will email you within the next 2 weeks.
        </p>

        <p class="govuk-body"><b>Use the online portal</b></p>
        
        <p class="govuk-body">
            Use the portal to:

            <ul class="govuk-list  govuk-list--bullet">
                <li>sign up to attend events</li>
                <li>network with other ambassadors</li>
            </ul>
        </p>
       
        
        <p class="govuk-body">You can join us on our regular <b>Welcome to the Apprenticeship Ambassador Network</b> webinar. Sign up in your <b>Events hub</b>.</p>

        <a href="@Url.RouteUrl(RouteNames.NetworkHub)" class="govuk-link govuk-link--no-visited-state">
            Go to the online portal
        </a>
    </div>

</div>