@using SFA.DAS.ApprenticeAan.Web.Infrastructure
@using SFA.DAS.ApprenticeAan.Web.Models.Onboarding
@model JoinTheNetworkViewModel
@{
    ViewData["Title"] = "Why do you want to join the network?";
    var maxWordCount = 250;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post" asp-route=" @RouteNames.Onboarding.JoinTheNetwork" enctype="multipart/form-data" novalidate>
            <div esfa-validation-marker-for="ReasonForJoiningTheNetwork" class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l"  sp-for="ReasonForJoiningTheNetwork">
                        Why do you want to join the network?
                    </label>
                </h1>
                <div id="join-the-network-hint" class="govuk-hint" asp-for="JoinTheNetwork">
                    This can include information such as what initially attracted you to the
                    network and what you would like to get out of being a network member. Your
                    answer must be in @maxWordCount words or less.
                </div>
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="@maxWordCount">
                    <span asp-validation-for="ReasonForJoiningTheNetwork" class="govuk-error-message"></span>
                    <textarea class="govuk-textarea govuk-js-character-count" asp-for="ReasonForJoiningTheNetwork"  id="ReasonForJoiningTheNetwork" rows="12" aria-describedby="join-the-network-hint"
                                  sfa-validationerror-class="form-control-error">@Model.ReasonForJoiningTheNetwork</textarea>
                    <span id="ReasonForJoiningTheNetwork-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to @maxWordCount words
                    </span>
                </div>
            </div>
            <div class="govuk-button-group">
                <button id="continue" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>