@using SFA.DAS.ApprenticeAan.Domain.Models
@model EventFilterChoices
@{
    var eventTypes = Model.CalendarIds as List<int>;
    var calendarLookup = Model.EventTypesLookup as List<ChecklistLookup>;
}
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Event type
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
            @foreach (var eventType in calendarLookup!)
            {
                var checkedValue = string.Empty;
                @foreach (var ef in eventTypes!.Where(ef => ef.ToString() == eventType.Value))
                    {
                        checkedValue = " checked ";
                    }

                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="type-employer" name="calendarId" type="checkbox" value="@eventType.Value" @checkedValue>
                    <label class="govuk-label govuk-checkboxes__label" for="type-employer">
                        @eventType.Name
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>