@using SFA.DAS.ApprenticeAan.Web.HtmlHelpers
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Event date
        </legend>
        <div class="govuk-form-group">
            <label class="govuk-label" for="fromDate">
                From date
            </label>
            <input class="govuk-input" id="fromDate" name="fromDate" type="date" value="@DateTimeHelper.ToUrlFormat(Model.EventFilterChoices.FromDate)">
        </div>  
        <div class="govuk-form-group">
            <label class="govuk-label" for="toDate">
                To date
            </label>
            <input class="govuk-input" id="toDate" name="toDate" type="date" value=@DateTimeHelper.ToUrlFormat(Model.EventFilterChoices.ToDate)>
        </div>
    </fieldset>
</div>