@using SFA.DAS.ApprenticeAan.Web.Models.NetworkEvents
@model ChecklistDetails
@{
    var lookupDetails = Model.Lookups as List<ChecklistLookup>;
}
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Region
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
            @foreach (var lookup in lookupDetails!)
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="type-employer" name="@Model.InputName" type="checkbox" value="@lookup.Value" 
                           @(lookup.Checked ? " checked " : "") 
                    >
                    <label class="govuk-label govuk-checkboxes__label" for="type-employer">
                        @lookup.Name
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>