@using SFA.DAS.ApprenticeAan.Domain.OuterApi.Responses
@{
    var regions = Model.FilterChoices.RegionIds as List<int>;
    var regionLookup = Model.Regions as List<Region>;
}
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Region
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
            @foreach (var region in regionLookup!.OrderBy(x=>x.Ordering))
            {
                var checkedValue = string.Empty;
                @foreach (var ef in regions!.Where(ef => ef == region.Id))
                    {
                        checkedValue = " checked ";
                    }

                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="type-employer" name="regionId" type="checkbox" value="@region.Id" @checkedValue>
                    <label class="govuk-label govuk-checkboxes__label" for="type-employer">
                        @region.Area
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>