@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using SFA.DAS.ApprenticeAan.Web.Models.NetworkEvents;

@model NetworkEventDetailsViewModel

<p>@Model.StartDate.ToString("dddd, d MMMM yyyy")<span class="das-!-display--block">@Model.StartTime to @Model.EndTime</span> </p>
<p><strong>Online:</strong> joining details provided on sign up</p>
