@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using SFA.DAS.ApprenticeAan.Web.Models.NetworkEvents;

@model NetworkEventDetailsViewModel

<p>@Model.StartDate<span class="das-!-display--block">@Model.StartTime to @Model.EndTime</span> </p>
<p>Online: joining details provided on sign up</p>
