@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using SFA.DAS.ApprenticeAan.Web.Models.NetworkEvents;

@model NetworkEventDetailsViewModel

<div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">When and where</h2>
    <p>@Model.StartDate<span class="das-!-display--block">@Model.StartTime to @Model.EndTime</span> </p>
    <p><strong>Online:</strong> joining details provided on sign up</p>
</div>
